<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Welcome -->
  <ion-card>
    <div class="dashboard-topper"></div>
    <ion-card-header>
      <ion-card-subtitle>Welcome to</ion-card-subtitle>
      <ion-card-title>BendroCorp</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- User Info -->
  <ion-card *ngIf="initialDataLoaded">
    <ion-card-header>
      <ion-item class="user-info">
        <img slot="end" src="{{user.avatar}}" style="max-width: 120px; max-height: 120px; border-radius: 50%; margin: 8px;" alt="">
        <!-- <div><h3>{{user.first_name}} {{user.last_name}}</h3></div> -->
        <ion-label>
          <h1>{{user.first_name}} {{user.last_name}}</h1>
          <p>{{user.job_title}}</p>
        </ion-label>
      </ion-item>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="nextEvent">
          <ion-label>Next event in:</ion-label>
        </ion-col>
        <ion-col text-center *ngIf="!nextEvent">
          <ion-label>No events scheduled!</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <event-countdown-chart *ngIf="showCountdown" [endTime]="nextEvent.start_date"></event-countdown-chart>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button *ngIf="showCountdown" color="dark" expand="block" (click)="openNextEvent()">Open Event</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- News -->
  <ion-card *ngIf="initialDataLoaded">
    <ion-card-header>
      <ion-card-subtitle>Recent News</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-item *ngIf="news.length == 0">No recent news!</ion-item>
      <ion-item *ngFor="let item of news">
        {{item.title}}
      </ion-item>
    </ion-list>
  </ion-card>
  <br />
</ion-content>
