.dashboard-topper {
    background: url('../../../assets/imgs/dashboard.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
}

.user-info-small {
    text-align: center;
}

.user-info-small > img {
    margin-left: auto;
    margin-right: auto;
}

// user-info-regular

@media screen and (min-width: 431px) {
    .user-info-regular {
        display: inherit;
    }

    .user-info-small {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    .user-info-regular {
        display: none;
    }

    .user-info-small {
        display: inherit;
    }
}