<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Approvals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="initialDataLoaded">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>
      <ion-label>Your Approvals</ion-label>
    </ion-list-header>
    <ion-item detail *ngFor="let approval of myApprovals" routerLink="details/{{approval.id}}">
      <ion-label>{{approval.approval_id}} | {{approval.approval.approval_kind.title}}</ion-label>
      <ion-label slot="end"><small>Status: {{approval.approval.approval_status}}</small></ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more suffering...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
