<ion-header>
  <ion-toolbar>
    <ion-title>Event Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>{{event.name}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        {{event.start_date | date: 'MM/dd/yyyy hh:mm a (Z)'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        {{event.end_date | date: 'MM/dd/yyyy hh:mm a (Z)'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <small>Attendance: {{fetchAttendanceString()}}</small>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        {{event.description}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button *ngIf="(!checkCurrentStatus() || checkCurrentStatus().attendence_type_id == 2) && !isExpired()" expand="full" color="success" (click)="setAttendance(1)">Attending</ion-button>
  <ion-button *ngIf="(!checkCurrentStatus() || checkCurrentStatus().attendence_type_id == 1) && !isExpired()" expand="full" color="danger" (click)="setAttendance(2)">Not Attending</ion-button>
</ion-content>
