// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-content {
  --background: none;
}

body {
  background: url('./assets/app-background.png') !important;
  background-color: none;
  background-size: cover !important;

  font-family: 'Univia Pro', sans-serif !important;
}

ion-card {
  --background: #fff;
}

ion-refresher-content, .refresher-active {
  color: #fff !important;
}

ion-infinite-scroll {
  color: #fff !important;
}

.infinite-loading-spinner > .ion-spinner {
  --color: #fff !important;
  fill: #fff !important;
  stroke: #fff !important;
}

.infinite-loading-text, .refresher-pulling-text, .refresher-refreshing-text {
  color: #fff !important;
  padding-bottom: 8px;
}

.refresher-refreshing .spinner-crescent circle, .refresher-refreshing .spinner-ios line, .refresher-refreshing .spinner-ios-small line{
  stroke : #fff !important;
}

